@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学员管理";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>学员管理</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label ">姓名：</span>
                <input type="text" class="am-form-field" placeholder="按姓名搜索" style="width:80px;" name="name" ;>

                <span class="am-input-group-label   am-margin-left-sm">身份证：</span>
                <input type="text" class="am-form-field" placeholder="按身份证搜索" style="width:100px;" name="no" ;>

                <span class="am-input-group-label   am-margin-left-sm">手机：</span>
                <input type="text" class="am-form-field" placeholder="按手机号码搜索" style="width:80px;" name="mobile" ;>

                <span class="am-input-group-label   am-margin-left-sm">报名点：</span>
                <select name="EnteredPointID" data-am-selected="{btnWidth: '90px',btnSize: 'sm'}" onchange="LoadReference(true,this)"><option value="-1">不限</option></select>

                <span class="am-input-group-label   am-margin-left-sm">推荐人：</span>
                <select name="ReferenceID" data-am-selected="{ btnWidth: '90px',btnSize: 'sm'}"><option value="-1">不限</option></select>

                <span class="am-input-group-label  am-margin-left-sm">制卡驾校：</span>
                <select name="MakeDriverShopID" data-am-selected="{ btnWidth: '90px',btnSize: 'sm'}"><option value="-1">不限</option></select>
            </div>
        </div>
    </div>

    <div class="am-g am-margin-top">

        <div class="am-u-lg-12 am-u-end">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">报名日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="enteredTimeStart" readonly style="width:120px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="enteredTimeEnd" readonly style="width:120px;">
                <span class="am-input-group-label  am-margin-left-sm">制卡日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="makedTimeStart" readonly style="width:120px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="makeTimeEnd" readonly style="width:120px;">

                <span class="am-input-group-label  am-margin-left-sm">学员状态</span>
                <select name="State" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                    <option value="-1">不限</option>
                    <option value="0">未制卡</option>
                    <option value="1">科目一</option>
                    <option value="2">科目二</option>
                    <option value="3">科目三</option>
                    <option value="4">科目四</option>
                    <option value="5">毕业</option>
                    <option value="6">申请退学</option>
                    <option value="7">已退学</option>
                </select>
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>


    <div class="am-g am-margin-top-lg">
        <div class="am-u-lg-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-sm">
                    <button onclick="add()" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="EnteredDate" datatype="jsondate">报名日期</th>
                @*<th dataname="MakeCardDate" datatype="jsondate">制卡日期</th>*@
                <th dataname="EnteredCityName">报名地点</th>
                <th dataname="TrianName">培训方式</th>
                <th dataname="MakeCardCityName">制卡地</th>
                <th dataname="MakeDriverShopName">制卡驾校</th>
                <th dataname="PayMethodName">缴费方式</th>
                <th dataname="Money">总价</th>
                <th dataname="HadPayMoney">已缴</th>
                <th dataname="Name">姓名</th>
                <th dataname="ProvinceName">户籍省份</th>
                <th dataname="CityName">户籍城市</th>
                <th dataname="IDCard">身份证</th>
                <th dataname="Mobile">电话号码</th>
                <th dataname="CertificateName">车型</th>
                <th dataname="ReferenceName">推荐人</th>
                <th render="ShowState">状态</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">


        //$('.admin-sidebar').hide();
        $('[name=enteredTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=enteredTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=makedTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=makeTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });

        function ClearFilter() {
            $("#searchDomain input").val("");
            $('#searchDomain select').each(function () {
                $(this).find('option').eq(0).attr('selected', true);
            })
        }
        //批量删除
        function batchDelete() {
            $.Nuoya.confirm("确认删除？", function () {
                grid.del({
                    ajaxUrl: "/Student/Delete",
                    callback: function (json) {
                        grid.reload();
                    }
                });
            });
        }
        function formInit(dataitem) {

            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    Name: {
                        required: true,
                        maxlength: 32
                    },
                    Link: {
                        maxlength: 128
                    },
                    ClassName: {
                        maxlength: 32
                    },
                    Sort: {
                        digits: true,
                        max: 2147483647,
                        min: -2147483647
                    }
                },
                messages: {
                    Name: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    Link: {
                        maxlength: "最多{0}个字符"
                    },
                    ClassName: {
                        maxlength: "最多{0}个字符"
                    },
                    Sort: {
                        digits: "请输入数字",
                        max: "必须小于{0}",
                        min: "必须大于{0}"
                    }
                }
            });
        }

        //新增
        function add() {
            window.location.href = "/Student/Add";
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Student/GetPageList",
            //数据请求地址
            pageSize: 10,
            events: [
                {
                    className: "am-text-secondary",
                    icon: "icon-pencil-square-o",
                    name: "编辑",
                    url: "/Student/Update",
                    formula: function (model) {
                        if (model.State != "5" && model.State != "6" && model.State != "7") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    click: function (item) {
                        if (item.State == "5" || item.State == "6" || item.State == "7") {
                            window.location.href = "/Student/Update?ID=" + item.ID + "&readonly=1";
                        }
                        else {
                            window.location.href = "/Student/Update?ID=" + item.ID;
                        }
                    }
                },
                {
                    className: "am-text-success",
                    icon: "icon-pencil-square-o",
                    name: "详情",
                    url: "/Student/Update",
                    formula: function (item) {
                        if (item.State == "5" || item.State == "6" || item.State == "7") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    click: function (item) {
                        window.location.href = "/Student/Update?ID=" + item.ID + "&readonly=1";
                    }
                },
                {
                    className: "am-text-danger",
                    icon: "icon-trash-o",
                    name: "删除",
                    url: "/Student/Delete",
                    click: function (item) {
                        $.Nuoya.confirm("确认删除？", function () {
                            $.Nuoya.deleteAction("/Student/Delete", {
                                ids: item.ID
                            },
                            function () {
                                grid.reload();
                            });
                        });
                    }
                },
                {
                    className: "am-text-danger",
                    icon: "icon-close",
                    name: "退学",
                    url: "/Student/WantDrop",
                    formula: function (model) {
                        if (model.State != "5" && model.State != "6" && model.State != "7") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            width: "600px",
                            height: "500px",
                            ajaxUrl: "/HtmlTemplates/Student/WantDrop.html",
                            title: "申请退学",
                            callback: function (e) {
                                formInit();//表单初始化
                                $("#form [name='AllMoney']").val(item.Money);
                                $("#form [name='HadPayMoney']").val(item.HadPayMoney);
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {

                                    $.Nuoya.form("form").ajaxSubmit({
                                        ajaxUrl: "/Student/WantDrop", params: {
                                            ID: item.ID
                                        },
                                        callback: function (data) {
                                            if (!data.ErrorDesc) {
                                                e.hide();
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.ErrorDesc);
                                        }
                                    });
                                }
                            }]
                        })
                    }
                }
                ,
                {
                    className: "am-text-secondary",
                    icon: "icon-search",
                    name: "修改记录",
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            width: "1000px",
                            height: "600px",
                            ajaxUrl: "/HtmlTemplates/Student/Log.html",
                            title: "修改记录",
                            callback: function (e) {

                                var logGrid = $.Nuoya.grid({
                                    tableId: "logDataTable",
                                    //表格id
                                    search: {
                                        domainId: "searchLogDomain",
                                        subId: "btnLogSearch"
                                    },
                                    ajaxUrl: "/Student/GetLogList",
                                    params: {
                                        StudentID: item.ID
                                    },
                                    //数据请求地址
                                    pageSize: 10,
                                    events: [
                                        {
                                            className: "am-text-secondary",
                                            icon: "icon-pencil-square-o",
                                            name: "修改详情",
                                            click: function (model) {
                                                $.Nuoya.ajaxDialog({
                                                    closeViaDimmer: false,
                                                    ajaxUrl: "/HtmlTemplates/Student/LogDetials.html",
                                                    title: "修改详情",
                                                    width: "1000px",
                                                    height: "620px",
                                                    callback: function (e) {
                                                        $.Nuoya.action("/Student/FindLog", { id: model.ID }, function (json) {
                                                            //载入数据
                                                            $.Nuoya.form("form").dataLoad({
                                                                data: json
                                                            });
                                                        });
                                                    }
                                                })
                                            }
                                        }
                                    ]
                                });

                                event.preventDefault();
                            }
                        })
                    }
                }
            ]
        });

        LoadItemList(true, null);


    </script>
}
