@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "培训信息";
}

<div class="am-cf am-padding">

    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>培训信息</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">姓名：</span>
                <input type="text" class="am-form-field" placeholder="按姓名搜索" style="width:80px;" name="name" ;>
                <span class="am-input-group-label am-margin-left-sm">身份证：</span>
                <input type="text" class="am-form-field" placeholder="按身份证搜索" style="width:100px;" name="no" ;>

                <span class="am-input-group-label am-margin-left-sm">培训方式：</span>
                <select name="TrianID" data-am-selected="{btnWidth: '90px',btnSize: 'sm'}" style="width:auto;"><option value="-1">不限</option></select>

                <span class="am-input-group-label  am-margin-left-sm">科一日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeOneTimeStart" readonly style="width:90px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeOneTimeEnd" readonly style="width:90px;">

            </div>
        </div>
    </div>
    <div class="am-g am-margin-top">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">


                <span class="am-input-group-label">科二日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeTwoTimeStart" readonly style="width:90px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeTwoTimeEnd" readonly style="width:90px;">

                <span class="am-input-group-label am-margin-left-sm">科三日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeThreeTimeStart" readonly style="width:100px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeThreeTimeEnd" readonly style="width:100px;">

                <span class="am-input-group-label  am-margin-left-sm">科四日期</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeFourTimeStart" readonly style="width:100px;">
                <span class="am-input-group-label"> - </span>
                <input type="text" class="am-form-field" placeholder="请选择日期" name="themeFourTimeEnd" readonly style="width:100px;">

            </div>
        </div>
    </div>

    <div class="am-g am-margin-top">


        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">


                <span class="am-input-group-label">科一通过：</span>
                <select name="ThemeOnePass" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                    <option value="1">通过</option>
                    <option value="2">未通过</option>
                </select>
                <span class="am-input-group-label am-margin-left-sm">科二通过：</span>
                <select name="ThemeTwoPass" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                    <option value="1">通过</option>
                    <option value="2">未通过</option>
                </select>
                <span class="am-input-group-label am-margin-left-sm">科三通过：</span>
                <select name="ThemeThreePass" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                    <option value="1">通过</option>
                    <option value="2">未通过</option>
                </select>
                <span class="am-input-group-label am-margin-left-sm">科四通过：</span>
                <select name="ThemeFourPass" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                    <option value="1">通过</option>
                    <option value="2">未通过</option>
                </select>
            </div>
        </div>
    </div>

    <div class="am-g am-margin-top">
        <div class="am-u-lg-12 ">

            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">科二教练：</span>
                <select name="ThemeTwoCoachID" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                </select>

                <span class="am-input-group-label am-margin-left-sm">科三教练：</span>
                <select name="ThemeThreeCoachID" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                </select>
                <span class="am-input-group-label  am-margin-left-sm">科二学时：</span>
                <select name="ThemeTwoTimeCode" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                    <option value="1">完成</option>
                    <option value="2">未完成</option>
                </select>
                <span class="am-input-group-label am-margin-left-sm">科三学时：</span>
                <select name="ThemeThreeTimeCode" data-am-selected="{btnWidth: '120px',btnSize: 'sm'}" style="width:auto;">
                    <option value="-1">不限</option>
                    <option value="1">完成</option>
                    <option value="2">未完成</option>
                </select>
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>


    <div class="am-g am-margin-top-sm">
        <div class="am-u-lg-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button onclick="add()" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th type="more"></th>
                <th dataname="Name">姓名</th>
                <th dataname="CertificateName">车型</th>
                <th dataname="MakeDriverShopName">制卡驾校</th>
                @*<th dataname="IDCard">身份证</th>
                <th dataname="Mobile">手机</th>*@
                @*
                <th dataname="MakeDriverShopName" isHide="1" style="display:none;">驾校</th>
                <th dataname="TrianName" isHide="1" style="display:none;">培训方式</th>*@
                @*<th dataname="MakeDriverShopName">制卡驾校</th>
                <th dataname="TrianName">培训方式</th>*@
                <th dataname="ThemeOneDate" datatype="jsondateNo">科一时间</th>
                <th render="ShowThemeOnePass">通过</th>
                <th dataname="ThemeTwoCoachName">科二教练</th>
                <th dataname="ThemeTwoDate" datatype="jsondateNo">科二时间</th>
                <th render="ShowThemeTwoTimeCode" >科二学时</th>
                <th render="ShowThemeTwoPass">通过</th>
                <th dataname="ThemeThreeCoachName">科三教练</th>
                <th dataname="ThemeThreeDate" datatype="jsondateNo">科三时间</th>
                <th render="ShowThemeThreeTimeCode">科三学时</th>
                <th render="ShowThemeThreePass">通过</th>
                <th dataname="ThemeFourDate" datatype="jsondateNo">科四时间</th>
                <th render="ShowThemeFourPass">通过</th>
                <th render="ShowState">状态</th>


                <th dataname="IDCard" isHide="1" style="display:none;">身份证</th>
                <th dataname="Mobile" isHide="1" style="display:none;">手机</th>
                <th dataname="ReferenceName" isHide="1" style="display:none;">推荐人</th>
                <th dataname="EnteredDate" datatype="jsondateNo">报名日期</th>
                <th dataname="WantDriverShopName" isHide="1" style="display:none;">意向驾校</th>
                <th dataname="MakeCardDate" datatype="jsondateNo"  isHide="1" style="display:none;">制卡日期</th>

                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">

        function ShowThemeTwoTimeCode(item) {
            if (item.ThemeTwoTimeCode == 1) {
                return "完成";
            }
            else {
                return "未完成";
            }
        }
        function ShowThemeThreeTimeCode(item) {
            if (item.ThemeThreeTimeCode == 1) {
                return "完成";
            }
            else {
                return "未完成";
            }
        }

        function ShowThemeOnePass(item) {
            if (item.ThemeOnePass == 1)
                return "通过";
            else
                return "未通过";
        }
        function ShowThemeTwoPass(item) {
            if (item.ThemeTwoPass == 1)
                return "通过";
            else
                return "未通过";
        }
        function ShowThemeThreePass(item) {
            if (item.ThemeThreePass == 1)
                return "通过";
            else
                return "未通过";
        }
        function ShowThemeFourPass(item)
        {
            if (item.ThemeFourPass == 1)
                return "通过";
            else
                return "未通过";
        }
       // $('.admin-sidebar').hide();
        $('[name=themeOneTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeOneTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeTwoTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeTwoTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeThreeTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeThreeTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeFourTimeStart]').datepicker({ format: 'yyyy-mm-dd' });
        $('[name=themeFourTimeEnd]').datepicker({ format: 'yyyy-mm-dd' });


        //加载学员信息的下拉框集合
        function Inti() {
            $.Nuoya.action("/Student/GetSelectItemList", {}, function (json) {

                $(json.TrainList).each(function () {
                    $("select[name='TrianID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");

                });
                $(json.CoachList).each(function () {
                    $("select[name='ThemeThreeCoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                    $("select[name='ThemeTwoCoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                });
            });
        }
        Inti()

        function ClearFilter() {
            $("#searchDomain input").val("");
            $('#searchDomain select').each(function () {
                $(this).find('option').eq(0).attr('selected', true);
            })
        }
        //批量删除
        function batchDelete() {
            $.Nuoya.confirm("确认删除？", function () {
                grid.del({
                    ajaxUrl: "/Student/Delete",
                    callback: function (json) {
                        grid.reload();
                    }
                });
            });
        }
        function formInit(dataitem) {

            //添加表单验证
            $.Nuoya.form("form").validate({
                rules: {
                    Name: {
                        required: true,
                        maxlength: 32
                    },
                    Link: {
                        maxlength: 128
                    },
                    ClassName: {
                        maxlength: 32
                    },
                    Sort: {
                        digits: true,
                        max: 2147483647,
                        min: -2147483647
                    }
                },
                messages: {
                    Name: {
                        required: "不允许为空",
                        maxlength: "最多{0}个字符"
                    },
                    Link: {
                        maxlength: "最多{0}个字符"
                    },
                    ClassName: {
                        maxlength: "最多{0}个字符"
                    },
                    Sort: {
                        digits: "请输入数字",
                        max: "必须小于{0}",
                        min: "必须大于{0}"
                    }
                }
            });
        }

        //新增
        function add() {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                ajaxUrl: "/HtmlTemplates/Student/Update.html",
                title: "添加学员",
                width: "1000px",
                height: "420px",
                callback: function (e) {
                    formInit();//表单初始化
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {
                        $.Nuoya.form("form").ajaxSubmit({
                            ajaxUrl: "/Student/Add",
                            callback: function (data) {
                                if (!data.ErrorDesc) {
                                    e.hide();
                                    grid.reload();
                                }
                                else
                                    $.Nuoya.alert(data.ErrorDesc);
                            }
                        });
                    }
                }]
            })
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            isHide: true,
            ajaxUrl: "/Student/GetMoreInfoPageList",
            //数据请求地址
            pageSize: 10,
            events: [
                {
                    className: "am-text-success",
                    icon: "icon-plus",
                    name: "记录学时",
                    url: "/Student/UpdateTimeCode",
                    //formula: function (model) {
                    //    if (model.State = "" && model.State != "6" && model.State != "7") {
                    //        return true;
                    //    }
                    //    else {
                    //        return false;
                    //    }
                    //},
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            ajaxUrl: "/HtmlTemplates/Student/SelectTimeCode.html",
                            title: "记录学时",
                            width: "600px",
                            height: "500px",
                            pageUrl: "/Student/UpdateTimeCode",
                            callback: function (e) {

                                if (item.ThemeTwoTimeCode == 1) {
                                    $("#timeForm [name='ThemeTwoTimeCode']").find('option').eq(1).attr('selected', true);
                                }
                                if (item.ThemeThreeTimeCode == 1) {
                                    $("#timeForm [name='ThemeThreeTimeCode']").find('option').eq(1).attr('selected', true);
                                }
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {
                                    $.Nuoya.form("timeForm").ajaxSubmit({
                                        ajaxUrl: "/Student/UpdateTimeCode",
                                        params: {
                                            ID: item.ID
                                        },
                                        callback: function (data) {
                                            if (!data.ErrorDesc) {
                                                e.hide();
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.ErrorDesc);
                                        }
                                    });
                                }
                            }]
                        })
                    }
                },
                {
                    className: "am-text-secondary",
                    icon: "icon-plus",
                    name: "分配教练",
                    url: "/Student/UpdateCoach",
                    //formula: function (model) {
                    //    if (model.State = "" && model.State != "6" && model.State != "7") {
                    //        return true;
                    //    }
                    //    else {
                    //        return false;
                    //    }
                    //},
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            ajaxUrl: "/HtmlTemplates/Student/SelectCoach.html",
                            title: "分配教练",
                            width: "600px",
                            height: "500px",
                            pageUrl: "/Student/UpdateCoach",
                            callback: function (e) {

                                $.Nuoya.action("/Student/GetSelectItemList", {}, function (json) {

                                    $(json.CoachList).each(function () {
                                        if (item.ThemeTwoCoachID != "" && item.ThemeTwoCoachID != null) {
                                            if (item.ThemeTwoCoachID == this.ID) {
                                                $("#coachForm select[name='ThemeTwoCoachID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                                            }
                                            else {
                                                $("#coachForm select[name='ThemeTwoCoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                                            }

                                        }
                                        else {
                                            $("#coachForm select[name='ThemeTwoCoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                                        }
                                        if (item.ThemeThreeCoachID != "" && item.ThemeThreeCoachID != null) {
                                            if (item.ThemeThreeCoachID == this.ID) {
                                                $("#coachForm select[name='ThemeThreeCoachID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                                            }
                                            else {
                                                $("#coachForm select[name='ThemeThreeCoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                                            }

                                        }
                                        else {
                                            $("#coachForm select[name='ThemeThreeCoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                                        }
                                    });
                                });
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {
                                    $.Nuoya.form("coachForm").ajaxSubmit({
                                        ajaxUrl: "/Student/UpdateCoach",
                                        params: {
                                            ID: item.ID
                                        },
                                        callback: function (data) {
                                            if (!data.ErrorDesc) {
                                                e.hide();
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.ErrorDesc);
                                        }
                                    });
                                }
                            }]
                        })
                    }
                },
                {
                    className: "am-text-success",
                    icon: "icon-plus",
                    name: "新增考试",
                    url: "/Exam/Add",
                    formula: function (model) {
                        if (model.State != "5" && model.State != "6" && model.State != "7" && model.State != "0") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            ajaxUrl: "/HtmlTemplates/Exam/Update.html",
                            title: "新增考试",
                            width: "600px",
                            height: "500px",
                            pageUrl: "/Exam/Add",
                            callback: function (e) {
                                $("#payForm [name='Code']").find('option').eq(item.NowTheme-1).attr('selected', true);
                                $("#payForm [name='Count']").val(item.ExamCount);
                            },
                            buttons: [{
                                label: "保存",
                                callback: function (e) {
                                    if ($("#payForm [name='Result']").val() == "-1") {
                                        $.Nuoya.alert("请选择通过情况");
                                        return false;
                                    }
                                    $.Nuoya.form("payForm").ajaxSubmit({
                                        ajaxUrl: "/Exam/Add",
                                        params: {
                                            StudentID: item.ID
                                        },
                                        callback: function (data) {
                                            if (!data.ErrorDesc) {
                                                e.hide();
                                                grid.reload();
                                            }
                                            else
                                                $.Nuoya.alert(data.ErrorDesc);
                                        }
                                    });
                                }
                            }]
                        })
                    }
                }
                ,
                {
                    className: "am-text-secondary",
                    icon: "icon-search",
                    name: "考试记录",
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            width: "1000px",
                            height: "600px",
                            ajaxUrl: "/HtmlTemplates/User/ExamList.html",
                            title: "考试记录",
                            callback: function (e) {

                                var payGrid = $.Nuoya.grid({
                                    tableId: "examDataTable",
                                    //表格id
                                    search: {
                                        domainId: "searchExamDomain",
                                        subId: "btnExamSearch"
                                    },
                                    ajaxUrl: "/Exam/GetList",
                                    params: {
                                        StudentID: item.ID
                                    },
                                    //数据请求地址
                                    pageSize: 10,
                                });

                                event.preventDefault();
                            }
                        })
                    }
                }
            ]
        });
    </script>
}
