@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "招生收款";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>招生收款</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-2">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">身份证：</span>
                <input type="text" class="am-form-field" placeholder="按身份证搜索" style="width:100px;" name="no" ;>
            </div>
        </div>

        <div class="am-u-lg-6 am-u-end">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">状态：</span>
                <select name="state" data-am-selected="{btnSize: 'sm'}" style="width:120px;">
                    <option value="-1">不限</option>
                    <option value="1">已确认</option>
                    <option value="0">未确认</option>
                </select>
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>


    </div>


    <div class="am-g am-margin-top-sm">
        <div class="am-u-lg-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-sm">
                    <button onclick="batchDelete()" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-striped am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="PayTime" datatype="jsondate">缴费日期</th>
                <th dataname="EnteredDate" datatype="jsondate">报名日期</th>
                <th dataname="MakeCardDate" datatype="jsondate">制卡日期</th>
                <th dataname="MakeDriverShopName">制卡驾校</th>
                <th dataname="Money">总价</th>
                <th dataname="HadPayMoney">已缴</th>
                <th dataname="Name">姓名</th>
                <th dataname="IDCard">身份证</th>
                <th dataname="Mobile">电话号码</th>
                <th dataname="CertificateName">车型</th>
                <th dataname="ReferenceName">推荐人</th>
                <th dataname="CreaterName">登记人</th>
                <th dataname="ConfirmUserName">确认人</th>
                <th render="ShowConfirm">确认情况</th>
                <th dataname="ConfirmDate" datatype="jsondate">确认日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        //批量删除
        function batchDelete() {
            $.Nuoya.confirm("确认删除？", function () {
                grid.del({
                    ajaxUrl: "/PayOrder/Delete",
                    callback: function (json) {
                        grid.reload();
                    }
                });
            });
        }


        function formInit(dataitem) {

            if (dataitem != null) {
                //$('#payForm [name=PayTime]').datetimepicker('update', RenderDate(dataitem.PayTime));
                if (dataitem.VoucherThum != null) {
                    if (dataitem.VoucherThum != null) {
                        $("#imageDiv").show().find("img").attr("src", dataitem.VoucherThum);
                    }

                }
            }
            $.Nuoya.action("/Student/GetSelectItemList", {}, function (json) {
                $(json.PayTypeList).each(function () {
                    if (dataitem != null) {
                        $("#payForm select[name='PayTypeID']").append("<option  value='" + this.Value + "' " + (dataitem.PayTypeID == this.Value ? "selected" : "") + " >" + this.Text + "</option>");
                    }
                    else {
                        $("#payForm select[name='PayTypeID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                    }
                });
                $(json.AccountList).each(function () {
                    if (dataitem != null) {
                        $("#payForm select[name='AccountID']").append("<option  value='" + this.Value + "' " + (dataitem.AccountID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    }
                    else {
                        $("#payForm select[name='AccountID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                    }
                });
            });

        
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/PayOrder/GetPageList",
            //数据请求地址
            pageSize: 10,
            events: [
                {
                    className: "am-text-secondary",
                    icon: "icon-pencil-square-o",
                    name: "查看",
                    click: function (item) {
                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            width: "1000px",
                            height: "700px",
                            ajaxUrl: "/HtmlTemplates/PayOrder/Index.html",
                            title: "缴费记录",
                            callback: function (e) {

                                var payGrid = $.Nuoya.grid({
                                    tableId: "payOrderDataTable",
                                    //表格id
                                    search: {
                                        domainId: "searchPayOrderDomain",
                                        subId: "btnPayOrderSearch"
                                    },
                                    ajaxUrl: "/PayOrder/GetList",
                                    params: {
                                        StudentID: item.StudentID
                                    },
                                    //数据请求地址
                                    pageSize: 10,
                                    events: [
                                    {
                                        className: "am-text-secondary",
                                        icon: "icon-pencil-square-o",
                                        name: "确认",
                                        url: "/PayOrder/Confirm",
                                        formula: function (model) {
                                            if (model.IsConfirm == 0) {
                                                return true;
                                            }
                                            else {
                                                return false;
                                            }
                                        },
                                        click: function (model) {
                                            $.Nuoya.confirm("确认已收款？", function () {
                                                $.Nuoya.action("/PayOrder/Confirm", {
                                                    ID: model.ID
                                                },
                                                function () {
                                                    payGrid.reload();
                                                });
                                            });
                                        }
                                    }
                                    ,
                                    {
                                        className: "am-text-danger",
                                        icon: "icon-trash-o",
                                        name: "删除",
                                        url: "/PayOrder/Delete",
                                        formula: function (model) {
                                            if (model.IsConfirm == 0) {
                                                return true;
                                            }
                                            else {
                                                return false;
                                            }
                                        },
                                        click: function (model) {
                                            $.Nuoya.confirm("确认删除？", function () {
                                                $.Nuoya.deleteAction("/PayOrder/Delete", {
                                                    ids: model.ID
                                                },
                                                function () {
                                                    payGrid.reload();
                                                });
                                            });
                                        }
                                    }
                                    ]

                                });

                                 event.preventDefault();
                            }
                        })
                    }
                },
                {
                    className: "am-text-danger",
                    icon: "icon-trash-o",
                    name: "确认",
                    url: "/PayOrder/Confirm",
                    formula: function (item) {
                        if (item.IsConfirm == 0) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    click: function (item) {

                        $.Nuoya.ajaxDialog({
                            closeViaDimmer: false,
                            ajaxUrl: "/HtmlTemplates/User/Pay.html",
                            title: "缴费记录",
                            width: "1000px",
                            height: "800px",
                            callback: function (e) {
                                $.Nuoya.action("/PayOrder/Find", { id: item.ID }, function (model) {
                                    //载入数据
                                    $.Nuoya.form("payForm").dataLoad({
                                        data: model
                                    });
                                    formInit(model);//表单初始化
                                    $("#payForm  input,select").attr("readonly", true);
                                });
                            },
                            buttons: [{
                                label: "确认",
                                callback: function (e) {
                                    $.Nuoya.confirm("确认收款？", function () {
                                        $.Nuoya.form("form").ajaxSubmit({
                                            ajaxUrl: "/PayOrder/Confirm",
                                            params: {
                                                ID: item.ID
                                            },
                                            callback: function (data) {
                                                if (!data.ErrorDesc) {
                                                    e.hide();
                                                    grid.reload();
                                                }
                                                else
                                                    $.Nuoya.alert(data.ErrorDesc);
                                            }
                                        });
                                    });
                                }
                            }]
                        })                 
                    }
                },
                {
                    className: "am-text-danger",
                    icon: "icon-trash-o",
                    name: "删除",
                    url: "/PayOrder/Delete",
                    formula: function (item) {
                        if (item.IsConfirm == 0) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                    click: function (item) {
                        $.Nuoya.confirm("确认删除？", function () {
                            $.Nuoya.deleteAction("/PayOrder/Delete", {
                                ids: item.ID
                            },
                            function () {
                                grid.reload();
                            });
                        });
                    }
                }
            ]
        });

        LoadItemList(true, null);
    </script>
}
