@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我的车辆";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>我的车辆</small></div>
</div>
<div id="searchDomain">
    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label ">品牌：</span>
                <input type="text" class="am-form-field" placeholder="按品牌搜索" style="width:80px;" name="brandName" ;>

                <span class="am-input-group-label   am-margin-left-sm">车型：</span>
                <input type="text" class="am-form-field" placeholder="按车型搜索" style="width:100px;" name="model" ;>

                <span class="am-input-group-label   am-margin-left-sm">车型编号：</span>
                <input type="text" class="am-form-field" placeholder="按车型编号搜索" style="width:80px;" name="modelCode" ;>

                <span class="am-input-group-label   am-margin-left-sm">车架号：</span>
                <input type="text" class="am-form-field" placeholder="按车架号搜索" style="width:80px;" name="engineNumber" ;>

                <span class="am-input-group-label   am-margin-left-sm">车架代码：</span>
                <input type="text" class="am-form-field" placeholder="按车架代码搜索" style="width:80px;" name="frameCode" ;>

                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>

</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th type="more"></th>
                <th dataname="BuyTime" datatype="jsondate">购置日期</th>
                <th dataname="License">车牌号</th>
                <th dataname="Brand">品牌</th>
                <th dataname="Models">车型</th>
                <th dataname="DepartmentName">所属部门</th>
                <th dataname="CoachName">责任人</th>
                <th dataname="RepairMonth">本月车损</th>
                <th dataname="OilMonth">本月油耗</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">

        function ClearFilter() {
            $("#searchDomain input").val("");
        }

        function formInit(dataitem,tab) {
            if (tab == 1) {

                //添加表单验证
                $.Nuoya.form("form").validate({
                    rules: {
                        CreatedTime: {
                            required: true
                        },
                        ThingID: {
                            required: true
                        },
                        Remark: {
                            maxlength: 128
                        },
                        TargetID: {
                            required: true
                        },
                        PayMoney: {
                            required: true,
                            min: 0,
                            max: 99999999
                        },
                    },
                    messages: {

                        CreatedTime: {
                            required: "不允许为空",
                        },
                        ThingID: {
                            required: "不允许为空",
                        },
                        Remark: {
                            maxlength: "最多{0}个字符"
                        },
                        TargetID: {
                            required: "不允许为空",
                        },
                        PayMoney: {
                            required: "请输入数字",
                            max: "必须小于{0}",
                            min: "必须大于{0}"
                        }
                    }
                });
                $.Nuoya.action("/DataDictionary/GetSelectItem", { GroupCode :10}, function (json) {
                        if (dataitem != null && dataitem.CoachID == this.ID) {
                            $("#form select[name='TargetID']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                        }
                        else {
                            $("#form select[name='TargetID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                        }
                });
            }
            else if (tab == 2)
            {

                //添加表单验证
                $.Nuoya.form("form").validate({
                    rules: {
                        CreatedTime: {
                            required: true
                        },
                        ThingID: {
                            required: true
                        },
                        Remark: {
                            maxlength: 128
                        },
                        TargetID: {
                            required: true
                        },
                        OilID: {
                            required: true
                        },
                        PayMoney: {
                            required: true,
                            min: 0,
                            max: 99999999
                        },
                    },
                    messages: {

                        CreatedTime: {
                            required: "不允许为空",
                        },
                        ThingID: {
                            required: "不允许为空",
                        },
                        Remark: {
                            maxlength: "最多{0}个字符"
                        },
                        TargetID: {
                            required: "不允许为空",
                        },
                        OilID: {
                            required: "不允许为空",
                        },
                        PayMoney: {
                            required: "请输入数字",
                            max: "必须小于{0}",
                            min: "必须大于{0}"
                        }
                    }
                });

                $.Nuoya.action("/DataDictionary/GetSelectItem", { GroupCode: 11 }, function (json) {
                    if (dataitem != null && dataitem.CoachID == this.ID) {
                        $("#form select[name='TargetID']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                    }
                    else {
                        $("#form select[name='TargetID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                    }
                });

                $.Nuoya.action("/OilCard/GetSelectItem", {  }, function (json) {
                    if (dataitem != null && dataitem.OilID == this.ID) {
                        $("#form select[name='OilID']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                    }
                    else {
                        $("#form select[name='OilID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                    }
                });
            }
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Coach/GetCardPageList",
            //数据请求地址
            events: [
                {
                className: "am-text-secondary",
                icon: "icon-pencil-square-o",
                name: "油耗",
                click: function (item) {
                    $.Nuoya.ajaxDialog({
                        closeViaDimmer: false,
                        ajaxUrl: "/HtmlTemplates/Car/AddOil.html",
                        title: "新增油耗",
                        width: "1000px",
                        height: "640px",
                        callback: function (e) {
                            formInit(null, 2);//表单初始化
                            $("#form [name='License']").val(item.License);
                        },
                        buttons: [{
                            label: "保存",
                            callback: function (e) {
                                
                                $.Nuoya.form("form").ajaxSubmit({
                                    ajaxUrl: "/Car/Update",
                                    params: {
                                        ID: item.ID
                                    },
                                    callback: function (data) {
                                        if (!data.ErrorDesc) {
                                            e.hide();
                                            grid.reload();
                                        }
                                        else
                                            $.Nuoya.alert(data.ErrorDesc);
                                    }
                                });
                            }
                        }]
                    })
                }
                },
                 {
                     className: "am-text-secondary",
                     icon: "icon-pencil-square-o",
                     name: "车损",
                     click: function (item) {
                         $.Nuoya.ajaxDialog({
                             closeViaDimmer: false,
                             ajaxUrl: "/HtmlTemplates/Car/AddRepair.html",
                             title: "新增车损",
                             width: "1000px",
                             height: "640px",
                             callback: function (e) {
                                 formInit(null, 1);//表单初始化
                                 $("#form [name='License']").val(item.License);
                             },
                             buttons: [{
                                 label: "保存",
                                 callback: function (e) {
                                     $.Nuoya.form("form").ajaxSubmit({
                                         ajaxUrl: "/Car/Update",
                                         params: {
                                             ID: item.ID
                                         },
                                         callback: function (data) {
                                             if (!data.ErrorDesc) {
                                                 e.hide();
                                                 grid.reload();
                                             }
                                             else
                                                 $.Nuoya.alert(data.ErrorDesc);
                                         }
                                     });
                                 }
                             }]
                         })
                     }
                 },
            ]
        });

    </script>
}
