
@{
    ViewBag.Title = "Test";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    音乐
    <audio src="~/%e5%8f%ae%e5%92%9a,%e6%82%a8%e6%9c%89%e6%96%b0%e8%ae%a2%e5%8d%95%ef%bc%8c%e8%af%b7%e5%8f%8a%e6%97%b6%e5%a4%84%e7%90%86.mp3" controls="controls" preload id="music1" hidden></audio>
    <script>
        var audio = document.getElementById('music1');
        if (audio !== null) {
            //检测播放是否已暂停.audio.paused 在播放器播放时返回false.
            if (audio.paused) {
                audio.play();//audio.play();// 这个就是播放
            } else {
                audio.pause();// 这个就是暂停
            }
        }
    </script>
</body>
</html>