@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "耗损记录";
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>耗损记录</small></div>
</div>
<div id="searchDomain">
    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label">车牌号：</span>
                <input type="text" class="am-form-field" placeholder="按车牌号搜索" style="width:100px;" name="license" ;>

                <span class="am-input-group-label  am-margin-left-sm">责任人：</span>
                <select name="CoachID" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                    <option value="-1">请选择</option>
                </select>

                <span class="am-input-group-label  am-margin-left-sm">项目：</span>
                <select name="ThingID" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                    <option value="-1">请选择</option>
                </select>
                <span class="am-input-group-label  am-margin-left-sm">类别：</span>
                <select name="Code" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                    <option value="0">请选择</option>
                    <option value="1">油耗</option>
                    <option value="2">车损</option>
                </select>
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="grid_container">
    <table id="dataTable" class="am-table am-table-compact am-table-hover table-main">
        <thead>
            <tr>
                <th dataname="ID" type="checkbox"></th>
                <th dataname="CreatedUserName">创办人</th>
                <th dataname="License">车牌号</th>
                <th render="ShowWasteCode">类别</th>
                <th dataname="TargetName">加油点/维修点</th>
                <th dataname="OilName">油卡号</th>
                <th dataname="Money">费用</th>
                <th dataname="ThingName">项目</th>
                <th dataname="Remark">备注</th>
                <th dataname="AddDate" datatype="jsondate">使用日期</th>
                <th dataname="CreatedTime" datatype="jsondate">创建日期</th>
                <th type="eventlist"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script type="text/javascript">

        function ClearFilter() {
            $("#searchDomain input").val("");
        }

        function UpdateWaste(item) {
            if (item.Code == 2) {
                $.Nuoya.action("/Waste/GetRepairSelectItem", {}, function (json) {
                    $(json.Item1).each(function () {
                        $("#form select[name='CarID']").append("<option  value='" + this.Value + "' " + (item.CarID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    });
                    $(json.Item2).each(function () {
                        $("#form select[name='ThingID']").append("<option  value='" + this.Value + "'" + (item.ThingID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    });
                    $(json.Item3).each(function () {
                        $("#form select[name='TargetID']").append("<option  value='" + this.Value + "'" + (item.TargetID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    });
                });
            }
            else {
                $("#form select[name='ThingID']").append("<option  value='" + this.Value + "'selected>加油</option>");
                $.Nuoya.action("/Waste/GetOilSelectItem", {}, function (json) {
                    $(json.Item1).each(function () {
                        $("#form select[name='TargetID']").append("<option  value='" + this.Value + "' " + (item.TargetID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    });
                    $(json.Item2).each(function () {
                        $("#form select[name='CarID']").append("<option  value='" + this.Value + "' " + (item.CarID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    });
                    $(json.Item3).each(function () {
                        $("#form select[name='OilID']").append("<option  value='" + this.Value + "' " + (item.OilID == this.Value ? "selected" : "") + ">" + this.Text + "</option>");
                    });
                });
            }
        }

        var grid = $.Nuoya.grid({
            tableId: "dataTable",
            //表格id
            search: {
                domainId: "searchDomain",
                subId: "btnSearch"
            },
            ajaxUrl: "/Waste/GetPageList",
            //数据请求地址
            events: [
                    {
                        className: "am-text-secondary",
                        icon: "icon-pencil-square-o",
                        name: "编辑",
                        click: function (item) {
                            $.Nuoya.ajaxDialog({
                                closeViaDimmer: false,
                                ajaxUrl: "/HtmlTemplates/Waste/Update.html",
                                title: "编辑耗损记录",
                                width: "1000px",
                                height: "440px",
                                callback: function (e) {
                                    $.Nuoya.action("/Waste/Find", { id: item.ID }, function (model) {
                                        //载入数据
                                        $.Nuoya.form("form").dataLoad({
                                            data: model
                                        });
                                        UpdateWaste(item);//表单初始化
                                        if (item.Code == 1) {
                                            $("#targetDiv").html("加油点");
                                            $("#thingDiv").hide();
                                        }
                                        else {
                                            $("#targetDiv").html("维修点");
                                            $("#oilDiv").hide();
                                        }
                                    });
                                },
                                buttons: [{
                                    label: "保存",
                                    callback: function (e) {
                                        var msg = "";
                                        if (item.Code == 1) {
                                            var AddDate = $("#form [name='AddDate']").val();
                                            if (AddDate == "") {
                                                msg = "请选择加油时间";
                                            }
                                            var CarID = $("#form [name='CarID']").val();
                                            if (CarID == "" || CarID == "-1") {
                                                msg = "请选择车辆";
                                            }
                                            var TargetID = $("#form [name='TargetID']").val();
                                            if (TargetID == "" || TargetID == "-1") {
                                                msg = "请选择加油点";
                                            }
                                            var Money = $("#form [name='Money']").val();
                                            if (Money == "") {
                                                msg = "请填写金额";
                                            }
                                        }
                                        else {
                                            var AddDate = $("#form [name='AddDate']").val();
                                            if (AddDate == "") {
                                                msg = "请选择维修时间";
                                            }
                                            var CarID = $("#form [name='CarID']").val();
                                            if (CarID == "" || CarID == "-1") {
                                                msg = "请选择车辆";
                                            }
                                            var ThingID = $("#form [name='ThingID']").val();
                                            if (ThingID == "" || ThingID == "-1") {
                                                msg = "请选择项目";
                                            }
                                            var TargetID = $("#form [name='TargetID']").val();
                                            if (TargetID == "" || TargetID == "-1") {
                                                msg = "请选择维修点";
                                            }
                                            var Money = $("#form [name='Money']").val();
                                            if (Money == "") {
                                                msg = "请填写金额";
                                            }
                                        }

                                        if (msg != "") {
                                            $.Nuoya.alert(msg);
                                            return false;
                                        }

                                        $.Nuoya.form("form").ajaxSubmit({
                                            ajaxUrl: "/Waste/Update",
                                            params: {
                                                ID: item.ID
                                            },
                                            callback: function (data) {
                                                if (!data.ErrorDesc) {
                                                    e.hide();
                                                    grid.reload();
                                                }
                                                else
                                                    $.Nuoya.alert(data.ErrorDesc);
                                            }
                                        });
                                    }
                                }]
                            })
                        }
                    },
            ]
        });
        $.Nuoya.action("/Student/GetSelectItemList", {}, function (json) {
            $(json.CoachList).each(function () {
                $("#searchDomain select[name='CoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
            });
        });

        $.Nuoya.action("/Waste/GetItemSelectItem", {}, function (json) {
            $(json).each(function () {
                $("#searchDomain select[name='ThingID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
            });
        });

        
    </script>
}
